@import '../../../assets/variables/variables.scss';

.header {
    display: flex;
    justify-content: center;
    background-color: $yellow;
    padding: 5px 0;
}

.header__wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.header__logo {
    margin-right: 16px;
}

.header__imput {
    flex: 1;
}
